/*@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;600;700&display=swap');*/

@font-face {
    font-family: 'SF Pro Display';
    src: url('/fonts/SFProDisplay/SF-Pro-Display-Semibold.woff2') format('woff2');
    font-weight: 600;
    font-display: swap;
}

@font-face {
    font-family: 'SF Pro Display';
    src: url('/fonts/SFProDisplay/SF-Pro-Display-Bold.woff2') format('woff2');
    font-weight: bold;
    font-display: swap;
}

@font-face {
    font-family: 'SF Pro Display';
    src: url('/fonts/SFProDisplay/SF-Pro-Display-Medium.woff2') format('woff2');
    font-weight: 500;
    font-display: swap;
}

@font-face {
    font-family: 'SF Pro Display';
    src: url('/fonts/SFProDisplay/SF-Pro-Display-Light.woff2') format('woff2');
    font-weight: 300;
    font-display: swap;
}

@font-face {
    font-family: 'SF Pro Display';
    src: url('/fonts/SFProDisplay/SF-Pro-Display-Regular.woff2') format('woff2');
    font-weight: normal;
    font-display: swap;
}

/* -----------------------------------------*/
:root {
    /*--color -------------*/
    --primary-color: #e30019;
    --primary-color-hover: #fba5a5;
    --primary-color-1: #7d5fff;
    --primary-color-2: #0652DD;
    --primary-color-3: #FC427B;
    --primary-color-4: #44bd32;
    --primary-color-1-hover: #af9dff;
    --primary-color-2-hover: #548ffa;
    --primary-color-3-hover: #ff96b6;
    --primary-color-4-hover: #7ffba9;
    --content-color-black: #000000;
    --content-color-white: #ffffff;
    --header-btn-background: #be1529;
    --header-btn-background-1: #5129ff;
    --header-btn-background-2: #387dfc;
    --header-btn-background-3: #FD7272;
    --header-btn-background-4: #009432;
    /*--transition---------*/
    --trans-all-05: all .5s ease;
    --trans-all-04: all .4s ease;
    --trans-all-03: all .3s ease;
    --trans-all-02: all .2s ease;
}

html {
    scroll-behavior: smooth;
}

/*----Loading ---------------------------------------------*/
/*--Button loading-------------------*/
@keyframes ldio-gmrbyawnrc {
    0% {
        transform: rotate(0)
    }

    100% {
        transform: rotate(360deg)
    }
}

.ldio-gmrbyawnrc div {
    box-sizing: border-box !important
}

.ldio-gmrbyawnrc > div {
    position: absolute;
    width: 72px;
    height: 72px;
    top: 14px;
    left: 14px;
    border-radius: 50%;
    border: 8px solid #000;
    border-color: #ffffff transparent #ffffff transparent;
    animation: ldio-gmrbyawnrc 1s linear infinite;
}

.ldio-gmrbyawnrc > div:nth-child(2) {
    border-color: transparent
}

.ldio-gmrbyawnrc > div:nth-child(2) div {
    position: absolute;
    width: 100%;
    height: 100%;
    transform: rotate(45deg);
}

.ldio-gmrbyawnrc > div:nth-child(2) div:before, .ldio-gmrbyawnrc > div:nth-child(2) div:after {
    content: "";
    display: block;
    position: absolute;
    width: 8px;
    height: 8px;
    top: -8px;
    left: 24px;
    background: #ffffff;
    border-radius: 50%;
    box-shadow: 0 64px 0 0 #ffffff;
}

.ldio-gmrbyawnrc > div:nth-child(2) div:after {
    left: -8px;
    top: 24px;
    box-shadow: 64px 0 0 0 #ffffff;
}

.loadingio-spinner-dual-ring-ekj0ol56kwc {
    width: 25px;
    height: 25px;
    display: inline-block;
    overflow: hidden;
    background: rgba(NaN, NaN, NaN, 0);
}

.ldio-gmrbyawnrc {
    width: 100%;
    height: 100%;
    position: relative;
    transform: translateZ(0) scale(0.25);
    backface-visibility: hidden;
    transform-origin: 0 0; /* see note above */
}

    .ldio-gmrbyawnrc div {
        box-sizing: content-box;
    }
/* generated by https://loading.io/ */

/*---------------------------------------------------------*/
/* -----------------------------------------*/
* {
    padding: 0;
    margin: 0;
    font-size: 0.97rem;
    /*font-family: 'Roboto', sans-serif;*/
    font-family: 'SF Pro Display';
}

button:disabled {
    cursor: not-allowed;
}

.web-scroll-block {
    overflow: hidden;
}

header {
    background: var(--primary-color);
    position: sticky;
    top: 0;
    z-index: 20;
}

#header {
    padding: 0.5rem 0;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    color: var(--content-color-white);
}

.header-icon {
    font-size: 1.6rem;
    margin-right: 0.6rem;
    cursor: pointer;
    display: flex;
}

#header a {
    text-decoration: none;
}

.header-box {
    width: 12%;
    display: flex;
    align-items: center;
}

.logo {
    width: 100%;
}

    .logo img {
        width: 100%;
    }

.mobile-logo {
    display: none;
}

.categories-btn {
    background: var(--header-btn-background);
    border-radius: 0.2rem;
    font-weight: 500;
    padding: 0.7rem;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 0.4rem;
    cursor: pointer;
}

.categories-btn i {
    font-size: 1.3rem;
}

.mobile-categories-btn {
    display: none;
}

.search {
    width: 33%;
    position: relative;
}

.search-form {
    display: flex; 
    width: 100%;
}

.close-search {
    width: 10%;
    display: none;
}

.close-search i {
    font-size: 2rem;
}

.search-box {
    width: calc(100% - 4rem);
    padding: 0.7rem 0.8rem;
    border: none;
    border-top-left-radius: 0.2rem;
    border-bottom-left-radius: 0.2rem;
}

    .search-box:focus {
        outline: none;
    }

.search-btn {
    width: 4rem;
    padding: 0.3rem;
    display: grid;
    place-items: center;
    border: none;
    color: var(--content-color-black);
    background-color: #ffff;
    border-top-right-radius: 0.3rem;
    border-bottom-right-radius: 0.3rem;
}

    .search-btn i {
        font-size: 1.3rem;
        margin: 0;
    }

.ajax-search-autocomplete {
    position: absolute;
    top: 100%;
    width: 100%;
    background: var(--content-color-white);
    margin-top: 0.2rem;
    padding: 0.3rem 1rem;
    border-radius: 0.2rem;
    box-shadow: 1px 1px 5px #828282;
    display: none;
    z-index: 20;
}

.ajax-search-item {
    padding: 0.2rem 0;
}

.ajax-search-item:not(:first-child) {
    border-top: 1px solid #dcdcdc;
}

.ajax-search-item-info {
    width: 84%;
    color: var(--content-color-black);
}

.ajax-search-item-name h3 {
    font-size: 0.92rem;
    font-weight: normal;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
    line-height: normal;
}

.ajax-search-item-name h3:hover {
    color: var(--primary-color);
}

.ajax-search-item-price h3 {
    font-size: 0.90rem;
    color: var(--primary-color);
    line-height: normal;
}

.ajax-search-item-price h4 {
    font-size: 0.84rem;
    font-weight: normal;
    margin-left: 0.6rem;
    text-decoration: line-through;
    color: #6d6e72;
    line-height: normal;
}

.ajax-search-item-image {
    width: 3.5rem;
    padding: 0.5rem;
}

.ajax-search-item-image img {
    width: 100%;
    aspect-ratio: 1;
}

.ajax-search-empty {
    display: none;
    place-items: center;
    padding: 1rem 0;
}

.search-history {
    display: none;
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    height: calc(100vh - 5rem);
    background: var(--content-color-white);
    padding: 1rem;
    overflow-y: scroll;
}

.search-history * {
    color: var(--content-color-black);
}

.search-history h4 {
    margin: 0;
    font-weight: 600;
    font-size: 1rem;
}

.search-history-list {
    padding: 0;
    list-style-type: none;
    margin: 0;
}

.search-history-list-item {
    padding: 0.7rem 1.1rem;
    border-bottom: 1px solid #dddddd;
    font-size: 1rem;
    overflow: hidden;
}

.search-history-list-item a {
    text-decoration: none;
    color: var(--content-color-black);
}

.clear-search-history {
    color: #036cfb;
    padding: 0.8rem 1.1rem;
    font-size: 1rem;
}

.order-check {
    display: flex;
    width: 8%;
}

    .order-check a {
        color: var(--content-color-white);
        display: flex;
        flex-direction: row;
        align-items: center;
        font-weight: 500;
    }

.header-hotline {
    display: flex;
    flex-direction: row;
    align-items: center;
    font-weight: normal;
}

.header-btn {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.cart-btn ion-icon {
    font-size: 2.1rem;
    display: flex;
}

.cart-btn {
    position: relative;
    padding-right: 0.9rem;
}

    .cart-btn a {
        color: var(--content-color-white);
        display: flex;
        align-items: center;
    }

    .cart-btn span {
        font-weight: 500;
        margin-left: 0.4rem;
    }

.cart-count-holder {
    display: grid;
    place-items: center;
    padding: 0.15rem 0.25rem;
    width: 1.4rem;
    height: 1.4rem;
    border-radius: 50%;
    background-color: #fdd835;
    position: absolute;
    top: 5%;
    left: 18%;
}

.cart-count {
    display: grid;
    padding: 0;
    place-items: center;
    font-size: 0.7rem;
    font-weight: normal;
    color: var(--content-color-black);
}

.login-btn-box {
    max-width: 9%;
}

.login-btn {
    border-radius: 0.25rem;
    background: var(--header-btn-background);
    overflow: hidden;
    padding: 0.3rem 1rem;
}

.login-btn > a {
    color: var(--content-color-white);
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    font-weight: 500;
    font-size: 1.1rem;
    overflow: hidden;
}


.login-btn i {
    margin-right: 0.6rem;
    padding: 0;
    overflow: unset;
}

.logged-link {
    padding: 0.5rem 0.2rem;
}

.login-info-box {
    top: 135%;
    right: 0;
    min-width: 250%;
    padding: 1.2rem 1rem 1.5rem 1rem;
    background: var(--content-color-white);
    border-radius: 0.2rem;
    box-shadow: 1px 1px 5px #828282;
    transform: scale(0);
    opacity: 0;
    transition: opacity .5s ease;
}

.login-info-box * {
    color: var(--content-color-black);
}

.login-info-box::before {
    content: '';
    position: absolute;
    width: 1.3rem;
    height: 1.3rem;
    top: -1.3rem;
    right: 2.2rem;
    border-left: 0.6rem solid transparent;
    border-right: 0.6rem solid transparent;
    border-bottom: 0.8rem solid var(--content-color-white);
}

.login-info-box h4 {
    font-size: 1rem;
    margin: 0;
}

.login-info-box a {
    white-space: nowrap;
}

.login-info-box a:hover span {
    text-decoration: underline;
}

.login-info-box hr {
    margin: 0.6rem 0;
}

.login-info-box .login-info-name img {
    width: 1.5rem;
    margin-right: 0.5rem;
}

 .login-info-order i {
    font-size: 1.5rem;
    margin-right: 0.8rem;
}

.login-info-box .login-info-logout {
    cursor: pointer;
}

.login-info-box .login-info-logout:hover {
    text-decoration: underline;
}

.login-info-box .login-info-logout ion-icon {
    font-size: 1.5rem;
    margin-right: 0.7rem;
    padding: 0;
}

.login-info-box .logout-link {
    color: var(--content-color-black);
}

.login-info-box .logout-link:hover {
    text-decoration: underline !important;
}

.login-btn:hover .login-info-box {
    transform: scale(1);
    opacity: 1;
}

.login-register-btn-box {
    margin-top: 0.7rem;
    padding-top: 0.7rem;
    border-top: 1px solid #dddddd;
    column-gap: 0.7rem;
    width: 100%;
}

.login-register-btn-box button {
    width: 49%;
    background: none;
    padding: 0.2rem 0;
    border-radius: 0.2rem;
    border: 2px solid var(--content-color-black);
    z-index: 2;
    white-space: nowrap;
}

.action-login-btn {
    background: var(--content-color-black) !important;
    color: var(--content-color-white) !important;
}

.sub-header {
    border-top: 1px solid var(--content-color-white);
    display: none;
}

.sub-header-item-list {
    overflow-x: scroll;
    overflow-y: hidden;
    list-style-type: none;
    padding: 0.6rem 0;
    margin: 0;
    gap: 1.5rem;
    -webkit-overflow-scrolling: touch;
}

.sub-header-link {
    white-space: nowrap;
    font-size: 0.95rem;
    color: var(--content-color-white);
    text-decoration: none;
}

.login, .register, .forgot-password, .reset-password, .logout-confirm {
    width: 100vw;
    height: 100vh;
    background: #00000075;
    top: 0;
    left: 0;
    display: grid;
    visibility: hidden;
    place-items: center;
    z-index: 30;
}

.form-container {
    width: 30%;
    background: var(--content-color-white);
    padding:2rem 2rem 1.5rem 2rem;
    border-radius: 0.3rem;
    cursor: auto;
    transform: translateY(-100%);
    opacity: 0;
}

.showForm {
    transform: translateY(0);
    opacity: 1;
    transition: var(--trans-all-04);
}

.form-bottom {
    margin-top: 1rem;
}

.form-header {
    font-size: 1.4rem;
    font-weight: bold;
    margin-bottom: 1.5rem !important;
}

.login-form, .register-form {
}

.form-input-box {
    border: 1px solid #cfcfcf;
    border-radius: 0.3rem;
    margin-top: 1rem;
}

.form-input {
    width: 100%;
    border: none;
    outline: none;
    padding: 0.6rem 1.2rem;
    border-radius: 0.3rem;
    font-size: 1.1rem;
}

.form-input:focus ~ .input-label, .form-input.input-valid ~ .input-label {
    transform: translateY(-110%);
    font-size: 0.8rem;
}

.input-label {
    pointer-events: none;
    left: 0.8rem;
    padding: 0 0.4rem;
    background: var(--content-color-white);
    transition: transform .4s ease;
}

.forgot-password-box {
    margin-top: 1rem;
}

.forgot-password-link {
    font-size: 1rem;
    cursor: pointer;
}

.form-submit-btn {
    margin-top: 1rem;
    width: 100%;
    border: none;
    background: var(--primary-color);
    color: var(--content-color-white);
    font-size: 1.1rem;
    font-weight: 600;
    border-radius: 0.3rem;
    padding: 0.6rem 0;
    display: grid;
    place-items: center;
}

.form-submit-btn:not(:disabled):hover {
    outline: 2px solid var(--primary-color-hover);
}

.close-form {
    padding: 0;
    top: 0.8rem;
    right: 0.8rem;
    cursor: pointer;
}

.close-form i {
    font-size: 1.5rem;
}

.logout-confirm-box {
    width: 30rem;
    background: var(--content-color-white);
    padding: 2rem 2rem 1.5rem 2rem;
    border-radius: 0.3rem;
    cursor: auto;
    opacity: 0;
    transform: scale(0);
    transition: all .3s ease;
}

.showLogoutConfirm {
    opacity: 1;
    transform: scaleZ(1);
}

.logout-confirm-box i {
    font-size: 4rem;
    color: #ff6606;
    margin-bottom: 1rem;
}

.logout-confirm-box span {
    font-size: 1.1rem;
}

.logout-confirm-btn-box {
    width: 90%;
    margin-top: 1.5rem;
}

.logout-confirm-btn-box button {
    border: none;
    padding: 0.7rem 1rem;
    border-radius: 0.2rem;
    width: 49%;
    font-weight: 500;
}

.logout-confirm-no:hover {
    background: #d4d4d4;
}

.logout-confirm-yes {
    display: grid;
    place-items: center;
    background: var(--primary-color);
    color: var(--content-color-white);
}

.logout-confirm-yes:hover {
    outline: 2px solid var(--primary-color-hover);
}

.form-error {
    margin-bottom: 1rem;
    border-radius: 0.2rem;
    background: #fff3cd;
    padding: 0.5rem 1rem;
    display: none;
}

.form-error i {
    font-size: 1rem;
    margin-right: 0.5rem;
    color: #e30019;
}

.form-error ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.form-error ul li {
    padding: 0.3rem 0;
}

.field-validation-error span {
    margin: 0.3rem 0;
    color: #e30019;
    font-size: 0.85rem !important;
}
/* ------------------------------------ */
nav {
    background-color: #ffff;
    color: var(--content-color-black);
}

.navigation {
    padding: 0.4rem 1.5rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.nav-item {
    display: flex;
    align-items: center;
}

    .nav-item:hover {
        color: var(--primary-color);
    }

.nav-break {
    height: 2rem;
    border-left: 2px solid #cfcfcf;
    background: black;
}

.nav-icon {
    font-size: 1.1rem;
    padding: 0;
    margin-right: 0.3rem;
    display: grid;
    place-items: center;
}

.navigation a {
    text-decoration: none;
    color: var(--content-color-black);
    font-weight: 500;
}

.bottom-nav-mobile {
    border-top: 2px solid var(--primary-color);
    background-color: var(--content-color-white);
    width: 100%;
    padding: 0 0.6rem;
    position: fixed;
    left: 0;
    z-index: 11;
    bottom: -30%;
    display: none;
    transition: .5s all ease;
}

.showBottomNav {
    bottom: 0;
}

.bottom-nav-link {
    padding: 0.5rem 0.3rem;
    color: var(--content-color-black);
    text-decoration: none;
}

.bottom-nav-account {
    overflow: hidden;
}

.bottom-nav-link span {
    font-size: 0.85rem;
}

.nav-link-active {
    color: var(--primary-color);
}

.bottom-nav-icon {
    font-size: 1.75rem;
}

main {
    padding: 0.8rem 0 2rem 0;
    background: #ececec;
}

    main .container-xxl {
        position: relative;
    }

.hidden-menu {
    position: fixed;
    width: 100%;
    display: none;
    z-index: 15;
    cursor: pointer;
}

.hidden-menu .sidebar{
    z-index: 17;
    cursor: auto;
}

.hidden-menu .slider {
    display: none;
}

.showHiddenMenu {
    display: block;
}

.menu {
    display: flex;
    align-items: start;
    position: relative;
    gap: 0.35rem;
}

.sidebar {
    width: 20%;
    border-radius: 0.2rem;
    background: none;
    z-index: 2;
}

.megamenu {
    padding: 0;
    list-style-type: none;
    margin: 0;
    background: var(--content-color-white);
    border-radius: 0.2rem;
}

.megamenu-item-box {
    width: 100%;
    padding: 0.54rem 1rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
}

.megamenu-item:hover .megamenu-item-box {
    background: var(--primary-color);
    color: #ffff;
}

.megamenu-item:hover .megamenu-link {
    color: #ffff;
}

.menu .sub-megamenu-box .megamenu-chevron,
.hidden-menu .sub-megamenu-box .megamenu-chevron {
    display: none;
}

hidden-menu .megamenu-item:hover .megamenu-item-box::after,
.menu .megamenu-item:hover .megamenu-item-box::after {
    display: block;
}

hidden-menu .megamenu-item:hover .megamenu-content,
.menu .megamenu-item:hover .megamenu-content {
    display: grid;
}

.megamenu-item-box::after {
    content: '';
    height: 0;
    width: 0;
    position: absolute;
    top: 0;
    bottom: 0;
    right: -1.4rem;
    border-top: 1.238rem solid transparent;
    border-bottom: 1.238rem solid transparent;
    border-left: 1.4rem solid var(--primary-color);
    display: none;
    z-index: 11;
}

.megamenu-link {
    width: 85%;
    color: var(--content-color-black);
    text-decoration: none;
    font-weight: normal;
}

.megamenu-icon {
    width: 13%;
    text-align: center;
    font-size: 1.1rem;
    margin-right: 0.3rem;
}

.megamenu-chevron {
    font-size: 0.8rem;
    transform: rotate(0);
    transition: var(--trans-all-05);
}

.chevronRotate {
    transform: rotate(90deg);
}

.megamenu-content {
    background: #fffffff1;
    backdrop-filter: blur(1px);
    padding: 0.7rem 0;
    position: absolute;
    width: 79.7%;
    min-height: 100%;
    border-radius: 0.2rem;
    top: 0;
    right: 0;
    overflow: hidden;
    display: none;
    grid-template-columns: repeat(5, 1fr);
    box-shadow: 1px 1px 7px #9e9e9e;
}

.megamenu-content-item {
    padding: 0 0 0 1.3rem;
}

.megamenu-item-title {
    text-decoration: none;
    color: var(--primary-color);
    font-weight: 600;
}

.megamenu-item-list {
    list-style-type: none;
    padding: 0;
}

.megamenu-item-list-link {
    line-height: 2rem;
}

    .megamenu-item-list-link a {
        text-decoration: none;
        color: var(--content-color-black);
    }

        .megamenu-item-list-link a:hover {
            color: var(--primary-color);
        }

.mobile-sidebar {
    max-width: 90%;
    min-width: 15rem;
    width: 22rem;
    height: 100vh;
    background: var(--content-color-white);
    position: fixed;
    padding: 0 0 1rem 0;
    top: 0;
    left: -100%;
    opacity: 0;
    transition: all .3s ease;
    z-index: 22;
    overflow-y: scroll;
}

.showMobileSidebar {
    left: 0;
    opacity: 1;
}

.mobile-sidebar-header {
    background: var(--primary-color);
    color: var(--content-color-white);
    width: 100%;
    padding: 0.3rem 0.8rem;
    position: sticky;
    top: 0;
    left: 0;
    z-index: 5;
}

.mobile-sidebar-header-title {
    font-size: 1rem;
    font-weight: 500;
}

.sidebar-close-btn .close-icon {
    display: grid;
    place-items: center;
    font-size: 2.5rem;
}

.mobile-sidebar-content {
    width: 100%;
}

.mobile-sidebar .sidebar * {
    font-size: 1rem;
}

.mobile-sidebar .sidebar {
    width: 100%;
}

.mobile-sidebar .megamenu-item {
    border-bottom: 1px solid #d0d0d0;
}

.mobile-sidebar .megamenu-item:hover .megamenu-item-box {
    background: none;
    color: var(--content-color-black);
}

.mobile-sidebar .megamenu-item:hover .megamenu-link {
    color: var(--content-color-black);
}

.mobile-sidebar .megamenu-item-box {
    padding: 0.9rem 1.3rem 0.9rem 1rem;

}

.mobile-sidebar .megamenu-link {
    text-transform: uppercase;
    width: 90%;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.mobile-sidebar .megamenu-icon {
    font-size: 1.2rem;
}

.mobile-sidebar .megamenu-chevron {
    display: flex;
    justify-content: end;
}

.mobile-sidebar .megamenu-content {
    position: static;
    padding: 0 0 1rem 2rem;
    width: 100%;
    box-shadow: none;
}


.mobile-sidebar .megamenu-content-item {
    padding: 0 1.3rem;
}

.mobile-sidebar .megamenu-item-title {
    color: var(--content-color-black);
    font-weight: normal;
}

.mobile-sidebar .megamenu-item-list {
    display: none;
    padding-left: 2.5rem;
}

.mobile-sidebar .megamenu-item-list .megamenu-item-list-link {
    padding: 0.4rem 0;
}

    .showSidebarContent {
        display: block;
    }

.mobile-sidebar .megamenu-item-list.showSidebarContent {
    display: block;
}

.mobile-sidebar .sub-megamenu-box {
    width: 100%;
    padding: 0.8rem 0;
}

.mobile-sidebar-info {
    margin-top: 1.5rem;
}

.sidebar-info-title {
    font-size: 1.1rem;
    padding: 0 0.8rem;
}

.sidebar-info-content {
    padding-top: 0.5rem;
}

.sidebar-info-list {
    padding: 0;
    list-style-type: none;
}

.sidebar-info-list-item {
    padding: 0.6rem 1.3rem 0.6rem 1rem;
}

.sidebar-info-link {
    color: var(--content-color-black);
    text-decoration: none;
}

.sidebar-info-phone {
    color: var(--primary-color);
}

footer {
    background-color: #ffff;
    padding: 2rem 0;
}

    footer a:hover {
        color: var(--primary-color);
        text-decoration: underline;
    }

.footer-title {
    font-weight: 600;
}

.icon-title {
    display: none;
    position: relative;
}

    .icon-title::before {
        content: '';
        width: 10px;
        height: 2px;
        background: #5e5e5e;
        position: absolute;
        right: 0;
        top: 50%;
    }

    .icon-title::after {
        content: '';
        width: 10px;
        height: 2px;
        background: #5e5e5e;
        position: absolute;
        right: 0;
        top: 50%;
        transform: rotate(90deg);
    }

.footer-col.activeFooter .footer-content {
    position: static;
    top: 0;
    opacity: 1;
}

.footer-col.activeFooter .icon-title::before, .footer-col.activeFooter .icon-title::after {
    transform: rotate(-180deg);
    transition: var(--trans-all-05);
}


.footer-content {
    display: flex;
    flex-direction: column;
}

    .footer-content a {
        text-decoration: none;
        color: var(--content-color-black);
        line-height: 2rem;
    }

.footer-list-info {
    margin-top: 0.5rem;
}

    .footer-list-info p {
        line-height: 1rem;
        width: 100%;
    }

        .footer-list-info p span:nth-child(2) {
            font-weight: bold;
        }

.footer-delivery {
    padding: 0.3rem 0 0.8rem 0;
    gap: 1rem;
}

.delivery-logo {
    width: 25%;
}

.footer-paylist {
    padding: 0.3rem 0 0.8rem 0;
    gap: 0.4rem;
}

.payment-item {
    width: 20%;
}

.footer-break {
    border-top: 1px solid #e1e1e1;
    width: 100%;
    height: 1rem;
    margin: 1rem 0;
}

.social-list {
    margin-left: 1rem;
}

.social-link {
    text-decoration: none;
    color: var(--content-color-black);
    margin-right: 0.8rem;
}

    .social-link:hover {
        color: var(--content-color-black);
        text-decoration: none;
    }

.social-icon {
    font-size: 1.8rem;
}

.fa-facebook {
    color: #1977f3;
}

.fa-tiktok {
    filter: drop-shadow(2px 0px 0px #FD3E3E) drop-shadow(-2px -2px 0px #4DE8F4);
}

.fa-youtube {
    color: #ff0101;
}

.overlay {
    background: #00000075;
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    bottom: 0;
    z-index: 9;
    display: none;
    cursor: pointer;
}

.webloading {
    background: #ffffff86;
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    bottom: 0;
    z-index: 19;
    display: none;
    place-items: center;
}

.webloading .loader {
    animation: rotate 1s infinite;
    height: 50px;
    width: 50px;
}

.webloading .loader:before,
.webloading .loader:after {
    border-radius: 50%;
    content: '';
    display: block;
    height: 20px;
    width: 20px;
}

.webloading .loader:before {
    animation: ball1 1s infinite;
    background-color: #cb2025;
    box-shadow: 30px 0 0 #f8b334;
    margin-bottom: 10px;
}

.webloading .loader:after {
    animation: ball2 1s infinite;
    background-color: #00a096;
    box-shadow: 30px 0 0 #97bf0d;
}

@keyframes rotate {
    0% {
        -webkit-transform: rotate(0deg) scale(0.8);
        -moz-transform: rotate(0deg) scale(0.8);
    }

    50% {
        -webkit-transform: rotate(360deg) scale(1.2);
        -moz-transform: rotate(360deg) scale(1.2);
    }

    100% {
        -webkit-transform: rotate(720deg) scale(0.8);
        -moz-transform: rotate(720deg) scale(0.8);
    }
}

@keyframes ball1 {
    0% {
        box-shadow: 30px 0 0 #f8b334;
    }

    50% {
        box-shadow: 0 0 0 #f8b334;
        margin-bottom: 0;
        -webkit-transform: translate(15px,15px);
        -moz-transform: translate(15px, 15px);
    }

    100% {
        box-shadow: 30px 0 0 #f8b334;
        margin-bottom: 10px;
    }
}

@keyframes ball2 {
    0% {
        box-shadow: 30px 0 0 #97bf0d;
    }

    50% {
        box-shadow: 0 0 0 #97bf0d;
        margin-top: -20px;
        -webkit-transform: translate(15px,15px);
        -moz-transform: translate(15px, 15px);
    }

    100% {
        box-shadow: 30px 0 0 #97bf0d;
        margin-top: 0;
    }
}

.to-top-btn {
    background: var(--primary-color);
    color: #ffff;
    border: none;
    display: grid;
    place-items: center;
    padding: 0.5rem;
    border-radius: 50%;
    position: fixed;
    right: -10rem;
    bottom: 1rem;
    transition: var(--trans-all-05);
}

    .to-top-btn i {
        display: grid;
        place-items: center;
    }

.showToTopBtn {
    right: 1rem;
}

.showOverlay {
    display: block;
}

/*Error Page*/
.error-404-site {
    background: var(--content-color-white);
    padding: 3rem 0;
}

.error-404-image {
    width: 100%;
}

.error-404-image img {
    width: 50%;
}

.error-404-message {
    margin-top: 2rem;
    row-gap: 1rem;
}

.error-404-message h3 {
    font-size: 1.2rem;
    font-weight: 600;
}

.error-404-message p {
    font-size: 1.2rem;
}

.error-404-message p span {
    color: var(--primary-color);
    font-size: 1.23rem;
    font-weight: 600;
}

.to-home-page-btn {
    background: none;
    border: 1px solid #1982f9;
    border-radius: 0.2rem;
    padding: 0.6rem 4rem;
    margin-top: 1rem;
    color: #1982f9;
    font-size: 1rem;
    font-weight: 600;
    position: relative;
    z-index: 1;
}

.to-home-page-btn::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #1982f9;
    transform: scaleX(0);
    transform-origin: right;
    transition: transform .5s ease;
    z-index: -1;
}

.to-home-page-btn:hover {
    color: var(--content-color-white);
}

.to-home-page-btn:hover::before {
    transform: scaleX(1);
    transform-origin: left;
}

.change-theme {
    width: 6rem;
    right: -6rem;
    bottom: 4rem;
    transition: var(--trans-all-03);
    z-index: 10;
}

.change-theme.show {
    right: 0;
}

.change-theme-wrapper {
    padding: 1rem;
    border-top-left-radius: 0.3rem;
    border-bottom-left-radius: 0.3rem;
    background: var(--content-color-white);
}

.toogle-theme-btn {
    color: var(--content-color-black);
    font-size: 2rem;
    left: -1.3rem;
    top: calc(50% - 1rem);
    background: none;
    display: grid;
    place-items: center;
    padding: 0;
    margin: 0;
    transform: rotate(0);
    transition: var(--trans-all-03);
}

.change-theme.show .toogle-theme-btn {
    transform: rotate(180deg);
}

.theme-item:not(:first-child) {
    margin-top: 0.5rem;
}

input[name="theme"] {
    display: none;
}

.theme-label-box {
    cursor: pointer;
}

.theme-color {
    border-radius: 50%;
    width: 1.1rem;
    height: 1.1rem;
    display: inline-block;
}

.theme-color-1 {
    background: #e30019;
}

.theme-color-2 {
    background: var(--primary-color-1);
}

.theme-color-3 {
    background: var(--primary-color-2);
}

.theme-color-4 {
    background: var(--primary-color-3);
}

.theme-color-5 {
    background: var(--primary-color-4);
}

.theme-label {
    position: relative;
    width: 2.5rem;
    height: 1.3rem;
    border-radius: 1rem;
    background: #e4e4e4;
}

.theme-label::after {
    content: '';
    width: calc(1.3rem - 6px);
    height: calc(1.3rem - 6px);
    border-radius: 50%;
    background: #ffffff;
    position: absolute;
    left: 3px;
    top: 3px;
    bottom: 3px;
    transition: var(--trans-all-05);
}

input[name="theme"]:checked ~ .theme-label-box .theme-label::after {
    background: var(--primary-color);
    left: calc(100% - 1.3rem + 3px);
}

/*---Responsive --------------------------------------------------------------*/
/* For mobile (width < 768px) ---------------------------------------------*/
@media screen and (max-width: 767px) {
    * {
        font-size: 0.9rem;
    }

    .container-xxl {
        margin: 0;
    }

    header {
        position: relative;
    }

    #header {
        height: 5rem;
    }

    .header-icon {
        font-size: 1.5rem;
    }

    .header-box {
        width: auto;
    }

    .logo {
        display: none;
    }

    .mobile-logo {
        display: block;
    }

        .mobile-logo img {
            height: 3.7rem;
        }

    .categories-btn {
        display: none;
    }

    .mobile-categories-btn {
        display: block;
        margin-right: 0.7rem;
    }

        .mobile-categories-btn i {
            font-size: 1.8rem;
        }

    .search {
        width: 62%;
        position: static;
    }

    .search-form {
        overflow: hidden;
    }

    .search-box {
        width: calc(100% - 3rem);
    }

    .search-btn {
        width: 3rem;
    }

    .search-btn i {
        font-size: 1.1rem;
    }

    .ajax-search-autocomplete {
        left: 0;
        margin-top: 0;
        box-shadow: none;
        border: none;
        width: 100%;
        height: calc(100vh - 8rem);
        overflow-x: hidden;
        overflow-y: scroll;
    }

    .header-hotline {
        display: none;
    }

    .order-check {
        display: none;
    }

    .login-btn-box {
        display: none;
    }

    .form-container {
        width: 90%;
    }

    .logout-confirm-box {
        width: 85%;
        max-width: 20rem;
        padding: 1.5rem 1rem;
    }

    .logout-confirm-box span {
        font-size: 1rem;
    }

    .cart-btn {
        padding: 0;
    }

    .cart-btn ion-icon {
        font-size: 2.1rem;
    }

    .cart-btn span {
        display: none;
    }

    .cart-count-holder {
        top: -10%;
        left: 35%;
    }

    .sub-header {
        display: block;
    }

    nav {
        display: none;
    }

    .bottom-nav-mobile {
        display: flex;
    }

    .hidden-menu {
        display: none;
    }

    footer {
        padding: 0.7rem 0 4rem 0;
    }

    footer * {
        font-size: 0.95rem;
    }

    .footer-col {
        overflow: hidden;
    }

    .footer-title {
        border-bottom: 2px solid #eaeaea;
        padding: 0.8rem 0;
        position: relative;
    }

    .icon-title {
        display: block;
    }

    .footer-content {
        padding: 0.8rem 0;
        position: absolute;
        top: -100%;
        opacity: 0;
        transform-origin: top;
        transition: var(--trans-all-05);
    }

    .delivery-logo {
        width: 20%;
    }

    .payment-item {
        width: 17%;
    }

    .footer-break {
        display: none;
    }

    .footer-bottom {
        margin-top: 1rem;
    }

    .footer-bottom .footer-title {
        border: none;
    }

    .to-top-btn {
        bottom: 5rem;
    }

    .overlay {
        z-index: 21;
    }

    .error-404-message {
        justify-content: center;
    }

    .error-404-message h3 {
        font-size: 1rem;
    }

    .error-404-message p {
        font-size: 0.9rem;
    }

    .to-home-page-btn {
        padding-left: 1.5rem;
        padding-right: 1.5rem;
        font-size: 0.9rem;
    }
}

/* --------------------------- */
@media screen and (min-width: 450px) and (max-width: 767px) {
    .form-container {
        width: 27rem;
    }
}

/* For tablet (767 < width <= 1024px) ---------------------------------------------*/
@media screen and (min-width: 768px) and (max-width: 1024px) {
    * {
        font-size: 0.93rem;
    }

    .sub-header {
        display: block;
    }

    .categories-btn,
    .header-hotline,
    .order-check,
    .cart-btn > a > span,
    .login-link span,
    .navigation,
    .sidebar {
        display: none;
    }

    header {
        position: static;
    }

    .header-box {
        width: 11rem;
    }

    .mobile-categories-btn {
        display: block;
        margin-right: 1rem;
    }

        .mobile-categories-btn i {
            font-size: 1.8rem;
        }

    .search {
        width: 62%;
    }

    .cart-btn {
        margin: 0 !important;
    }

    .cart-count-holder {
        top: -10%;
        left: 35%;
    }

    .login-btn {
        padding: 0.2rem 1rem;
    }

    .login-link i {
        margin: 0;
        font-size: 1.5rem;
    }

    .login-btn:hover .login-info-box {
        opacity: 0;
        transform: scale(0);
    }

    .mobile-sidebar {
        width: 27rem;
    }

    .slider {
        width: 100%;
    }

    .mobile-sidebar .sidebar {
        display: block;
    }

    .footer-col {
        padding-bottom: 1rem;
    }

    .bottom-nav-mobile {
        display: flex;
    }

    .form-container {
        width: 32rem;
    }

    .to-top-btn {
        bottom: 5.5rem;
    }
}

/* For desktop - custom scrollbar ------------------------------------------------*/
@media screen and (min-width: 1024px) {
    ::-webkit-scrollbar {
        width: 6px;
        height: 6px;
    }

    ::-webkit-scrollbar-thumb {
        background: #b0b0b0;
        border-radius: 3px;
    }

    ::-webkit-scrollbar-thumb:hover {
        background: #c3c3c3;
    }

}

/* ---------------------------- */
@media screen and (min-width: 1024px) and (max-width: 1170px) {

    .categories-btn {
        background: none;
        margin-left: 1rem;
    }

    .categories-btn i {
        font-size: 1.75rem;
    }

    .categories-btn span,
    .header-hotline span,
    .order-check > a span,
    .cart-btn span,
    .login-link span,
    .menu .sidebar{
        display: none;
    }

    .search {
        width: 59%;
        margin-right: 0.5rem;
    }

    .header-hotline {
        margin-right: 0.6rem;
    }

    .order-check {
        width: auto;
        margin-right: 0.6rem;
    }
        
    .cart-count-holder {
        top: -10%;
        left: 35%;
    }

    .login-btn {
        padding: 0.2rem 1rem;
    }

    .login-link i {
        margin: 0;
        font-size: 1.5rem;
    }

    .login-btn:hover .login-info-box {
        opacity: 0;
        transform: scale(0);
    }

    .form-container {
        width: 30rem;
    }

    .slider {
        width: 100%;
    }

    .hidden-menu .sidebar {
        display: block;
        width: 15rem;
    }

    .hidden-menu .slider {
        width: 0;
    }

    .hidden-menu .sidebar .megamenu-content {
        width: calc(99.8% - 15rem);
    }
}

/* ---------------------- */
@media screen and (min-width: 1400px) {
    .container-xxl {
        width: 1250px !important;
    }
}