
@{
    ViewBag.Title = "Khác";
}

<div class="other position-relative mb-4">
    @{
        Html.RenderPartial("WeatherPartial");
    }

    <h2 class="title">Khác</h2>
    <div class="breadcrumb">
        <ul class="breadcrumb-list d-flex">
            <li class="breadcrumb-item">
                <a href="/admin">Admin</a>
            </li>
            <li class="breadcrumb-item">
                Khác
            </li>
        </ul>
    </div>


</div>